
.cta-wrapper{
    padding: 20px;
    /*border:1px solid black;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
    .cta-content-container{
        flex-basis: 50%;
        height: 100%;
        /*padding: 20px;*/
        /*background-color: blueviolet;*/
    }
        .cta-content-wrapper{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            padding: 20px;
        }
        .cta-content-btn {
            border:1px solid red;
        }


    .cta-media-container{
        flex-basis: 50%;
        height: 100%;
        /*padding: 20px;*/
        /*background-color: blue;*/
    }


.container {
    max-width:50%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
}
.container img{
    max-width: 100%;

}
.text-block {
    position: absolute;
    bottom: 20%;
    left:14%;
    /*right: 380px;*/
    /*background-color: black;*/
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    max-width:88%;
    transform: translate(0%, 0%);
}
.text-block .elementor-button {
    margin-left: -19%;
    padding: 0 10px !important;
}
    .text-block .elementor-button-content-wrapper span{
        padding: 6px 0 !important;
    }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.elementor-button-wrapper{
    margin-left: 4%;
}
.cta-traditional-wrapper{
    max-width: 50%;
}
    .cta-traditional-content{
        background-color: #020114;
        padding: 10px;
    }
    .cta-traditional-content .elementor-button-wrapper{
        margin-left: 0;
    }
    .cta-traditional-img{
        overflow: hidden;
        transition:  1s ;
    }
    .cta-traditional-img  img{
        transition:  1s ;

    }
    .cta-traditional-img img:hover{
        opacity: 0.7;
        transform: scale(1.2,1.2);

    }

@media (min-width: 320px) and (max-width: 425px){
    .container{
        min-width:100% !important;
    }
    .text-block{
        bottom: 0 !important;
    }

}
@media (min-width: 320px) and (max-width: 768px){
    .cta-traditional-wrapper{
        max-width: 100%;
    }
}

